* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #fcfcfc;
}


header,
footer {
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    border-bottom: 1px solid #eee;
}

header h1 {
    font-weight: 400;
    font-size: 28px;
}

footer {
    font-size: 14px;
    border-top: 1px solid #eee;
}


main {
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: calc(100vh - 80px - 80px);
    margin: 0 auto;
    padding: 30px;
    background: #f7f7f7;
}

section .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 50px;
}

section .gallery div[class^='date'] {
    display: flex;
    flex-direction: column;
}

section .gallery div[class^='date'] .date {
    margin-bottom: 20px;
}

section .gallery div[class^='date'] .photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 

section .gallery div[class^='date'] .photos a,
section .gallery div[class^='date'] .photos img {
    height: 200px;
    cursor: pointer;
}

.add-photo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 24px;
}

.add-photo label {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 

.add-photo input {
    display: none;
}
