* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: sans-serif;
    background-color: #fcfcfc;
}


header,
footer {
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-weight: 400;
    font-size: 28px;
}

footer {
    font-size: 14px;
}


/* login */
.login {
    width: 100%;
    max-width: 1440px;
    min-height: calc(100vh - 80px - 80px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}

.login form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 0 7px 29px 0px #e7e7e7;
    padding: 50px 20px;
}

.login form input {
    width: 100%;
    outline: none;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.login form input[type="submit"] {
    cursor: pointer;
    border: none;
    transition: .2s;
    background-color: #f7f7f7;
}

.login form input[type="submit"]:hover {
    background-color: #f3f3f3;
}

.login form input::placeholder {
    color: #bbb;
}


/* admin panel */
.admin-panel {
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: calc(100vh - 80px - 80px);
    margin: 0 auto;
    padding: 30px;
    background-color: #f7f7f7;
}

table {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 70px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
}

tr {
    transition: .2s;
}

tr:nth-child(even),
tr:hover {
    background-color: #eee;
}

.add-photo {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 24px;
}

.add-photo label {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 

.add-photo input {
    display: none;
}

.links {
    position: absolute;
    bottom: 30px;
    display: flex;
}

.login form .links {
    position: static;
}

.links a {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.admin-panel .links a {
    height: 40px;
    padding: 0 15px;
    background-color: #eee;
    color: #000;
    margin-right: 10px;
}

.admin-panel .links a:hover {
    background-color: #eaeaea;
}

.login form .links a {
    font-size: 14px;
    color: #bbb;
}

.login form .links a:hover {
    color: #aaa;
}


/* responsiveness */
@media only screen and (max-width: 550px) {
    .admin-panel {
        padding: 30px 15px;
    }
}
